*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0mm;
    margin: 0mm;
}

a {
    text-decoration: none;
    color:inherit;
}

header {
    font-stretch: extra-expanded;
    color: white;
    -webkit-text-stroke: 2px purple;
    text-shadow: 6px 6px 3px gray;
    font-size: 32px;
    padding: 40px;
    background-image: url("../assets/images/background-image.jpg");
    background-size: cover;
    height: 200px;
}

nav {
    padding: 5px;
    display: flex;
    background-color: purple;
    color:white;
    flex-direction: row;
}

nav a {
    color: lightgray;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 25px;
}

nav a:hover{
    text-decoration: underline;
}

/* section {
    flex-wrap: wrap;
    float: right;
    height: auto;
    width: 75%;
    padding-right: 25px;
    line-height: 25px;
    
} */

section {
    margin:2rem;

}
section.about-me{
    min-height:300px; /* only because of the pic */
    
}


img.about-me{
    border-radius: 50%;
    margin: 10px; 
    float:right;
    width:245px;
    height:300px;
    object-fit:cover;
}

h2 {
    font-stretch: extra-expanded;
    color: purple;
    text-shadow: 2px 2px 2px darkslategray;
    font-size: 24px;
    -webkit-text-stroke: .5px white;
    background-size: cover;
    height: 80px;
    /* background-image: url("../assets/images/background-image.jpg");
    background-size: cover; */
}

.info-container{
    display:flex;
    flex-wrap: wrap;
}
.about-container{
    display:block;
    min-height:300px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    transition: 0.3s;
    border-radius: 5px;
    width: 250px;
    height: 300px;
    margin-right:1rem;
}

.card img {
    height:150px;
    width:auto;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container {
    /* padding: 2px 16px; */
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align:center;
}

/* .group-card{
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    /* transition: 0.3s; */
    /* margin: 40px;
    max-width: 200px; */
  } */

footer {  
    /* width: auto;   */
    height: 80px;  
    background: purple;
    color:white;
    /* text-align: center;  */
    /* padding: 10px 30px; */
    /* border:1px solid red; */
    display:flex;
    justify-content: space-around;
    align-items:center;
}

footer a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
}